
#console-container {
	float:right;
	width: 20%;
	height:100%;
}
#table-container {
	float:left;
	width: 80%;
	height:100%;
	background: radial-gradient(at 50% 38% , rgb(83, 194, 48), rgb(19, 131, 0)) no-repeat fixed center center lightblue;
}

#menu-container{
	position:absolute;
	bottom:0;
	width:100%;
	height:5%;
}
#menu-container{
	position:absolute;
	width:80%;
	bottom:0;
	margin:0;
}
#sousmenu-container{
	height:10%;
	width:50%;
	margin:auto;
	padding:auto;
}
#sousmenu-container button{
	margin-top:2%;
	padding:auto;
}
#console {

	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	height:90%;
	overflow-y: scroll;
	padding: 5px;
	width: 100%;
}
input#chat {
	float:right;
	width: 100%;
	height:10%;
}


#console p {
	padding: 0;
	margin: 0;
}