html, body {
    height : 100%;
}
#map-page {
    height : 100%;
}
#map-page .ui-header {
    height : 50px;
}
#players-container{
	width:100%;
	height:100%;
	border:none;
	
}
.player{
	height:33.33%;
	background-color:#CCC;	
}
.player-title{
	width:100%;
	height:15%;
	text-align:center;
	background-color:#C04;
}
.player-grimoire{
	width:100%;
	height:42.5%;
	margin:auto;
	background-color:#CCD;
}
.player-cards{
	width:100%;
	height:42.5%;
	margin:auto;
	background-color:#DDD;
}

#chaudron{
	float:left;
	width:33.33%;
	height:100%;
	background-color:#CCM;
}
#biliotheque{
	float:left;
	width:33.33%;
	height:100%;
	background-color:#390;
}
#defausse{
	float:left;
	width:33.33%;
	height:100%;
	background-color:#C00;
}
#map-page .ui-content {
    position : absolute;
    top      : 50px;
    right    : 0;
    bottom   : 50px;
    left     : 0;
}
#map-page .ui-footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 50px;
}
#show-console{
	height:100%;
}
#console {
		position:absolute;
        border: 1px solid #CCCCCC;
        border-right-color: #999999;
        border-bottom-color: #999999;
        height:75%;
        overflow-y: scroll;
        padding: 5px;
        width: 100%;
}
#message {
		position:absolute;
        border: 1px solid #CCCCCC;
        border-right-color: #999999;
        border-bottom-color: #999999;
        height:75%;
        overflow-y: scroll;
        padding: 5px;
        width: 100%;
}

#menu-right{
	position:absolute;
	bottom:0px;
	height:20%;
}
input#chat {
        bottom:0px;
        width: 100%;
        font-weight:bold;
}
#message p {
        padding: 0;
        margin: 0;
        font-weight:bold;
}


#console p {
        padding: 0;
        margin: 0;
        font-weight:bold;
}