
#table-container {
	background: radial-gradient(at 50% 38%, rgb(83, 194, 48),
		rgb(19, 131, 0)) no-repeat fixed center center lightblue;
}

#show-console{
	height:100%;
}
#console {
		position:absolute;
        border: 1px solid #CCCCCC;
        border-right-color: #999999;
        border-bottom-color: #999999;
        height:690px;
        overflow-y: scroll;
        padding: 5px;
        width: 100%;
}
#message {
		position:absolute;
        border: 1px solid #CCCCCC;
        border-right-color: #999999;
        border-bottom-color: #999999;
        height:690px;
        overflow-y: scroll;
        padding: 5px;
        width: 100%;
}

#menu-right{
	position:absolute;
	bottom:0px;
}
input#chat {
        bottom:0px;
        width: 100%;
        height:6%;
        
        font-weight:bold;
}
#message p {
        padding: 0;
        margin: 0;
        font-weight:bold;
}


#console p {
        padding: 0;
        margin: 0;
        font-weight:bold;
}